pip install numpy
pip install matplotlib
pip install torch==2.0.0 torchvision==0.15.1 torchaudio==2.0.1 --index-url https://download.pytorch.org/whl/cu118
pip install scipy
pip install scikit-image matplotlib imageio plotly opencv-python
pip install tqdm
pip install pandas
pip install cog
pip install moviepy

pip install albumentations==0.4.3
pip install datasets==2.8.0
pip install diffusers
# pip install opencv-python==4.1.2.30
pip install pudb==2019.2
pip install invisible-watermark
pip install imageio==2.9.0
pip install imageio-ffmpeg==0.4.2
pip install pytorch-lightning==1.4.2
pip install omegaconf==2.1.1
pip install test-tube>=0.7.5
pip install streamlit>=0.73.1
pip install einops==0.3.0
pip install torch-fidelity==0.3.0
pip install transformers==4.19.2
pip install torchmetrics==0.6.0
pip install kornia==0.6
pip install -e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
pip install -e git+https://github.com/openai/CLIP.git@main#egg=clip
pip install openai
pip install gradio
pip install seaborn
pip install git+https://github.com/crowsonkb/k-diffusion.git
